
<h1>Listing articles</h1>

<%= link_to 'New article', new_article_path %> 
<%= link_to 'upload', articles_upload_path %> 
 
 <%= form_tag articles_path, method: :delete do %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
              <td><%= check_box_tag "articles[]", article.id %></td>
    </tr>
  <% end %>
</table>


 <p>
    <button type="submit">delete selected</button>
  </p>
<% end %>